body {
  font-family: sans-serif;
  overflow-x: hidden;
}
main {
  padding: 10px;
}
.bold {
  font-weight: 600;
}

input {
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  padding: 8px 10px;
  border-radius: 5px;
}

button {
  display: block;
  background-color: black;
  color: white;
  margin-top: 8px;
  padding: 8px 20px;
  border-radius: 8px;
  transition: scale 0.3s ease-in-out;
  cursor: pointer;
}
button:active {
  scale: 0.95;
}
.search {
  position: relative;
}
.search input {
  text-indent: 15px;
}
.search svg {
  position: absolute;
  width: 16px;
  left: 14px;
  top: 50%;
  transform: translate(-50%,-50%);
}

.post_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 600px;
  width: 100%;
}

.post {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0px 16px;
  border-radius: 10px;
  margin-top: 20px;
}

.spin {
  display: inline-block;
  animation: animate-spin 0.8s linear infinite;
}

.lookup-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

@keyframes animate-spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.post {
  animation: appear 0.5s ease-in-out;
}

@keyframes appear {
  0%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0px);
  }
}

@media screen and (max-width: 540px) {
  .post_container{
    grid-template-columns: 1fr;
  }
}